In [2]:
import os
os.listdir(os.getcwd())

['.anaconda',
 '.android',
 '.astropy',
 '.cache',
 '.canopy_runtimes.json',
 '.conda',
 '.condarc',
 '.config',
 '.eclipse',
 '.idea',
 '.IntelliJIdea2018.3',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.m2',
 '.matplotlib',
 '.p2',
 '.spyder-py3',
 '.tooling',
 '.VirtualBox',
 '3D Objects',
 'airlines.csv',
 'airports.csv',
 'AMol-matplotlib.ipynb',
 'amolamol.ipynb',
 'amol_export',
 'amol_export_part.csv',
 'amol_export_sql.csv',
 'amol_jupyter.ipynb',
 'AppData',
 'Application Data',
 'Canopy',
 'Contacts',
 'Cookies',
 'data',
 'derby.log',
 'Desktop',
 'Documents',
 'Downloads',
 'drill',
 'eclipse',
 'Favorites',
 'flights.csv',
 'flights.csv.zip',
 'flight_analysis.ipynb',
 'flight_city_wise.csv',
 'flight_details_city_wise.csv',
 'flight_origin_dest_wise.csv',
 'InstallAnywhere',
 'IntelGraphicsProfiles',
 'Links',
 'LISTENER_TESTPYTHON.sql',
 'Local Settings',
 'logs',
 'london_crime_by_lsoa.csv',
 'metastore_db',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TM.blf',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Oracle',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'spark-warehouse',
 'Spark_hive_without_hive.ipynb',
 'sqlline',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'VirtualBox VMs',
 'workspace']

# This is Example of hive connection without having Hive connection on classpath using Apache SPARK 2.X.


## Amol Vishwarupe

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import Row
from datetime import datetime
import numpy as np
import pandas as pd

In [4]:
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [5]:
spark.sql('show databases').show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [8]:
spark.sql('show tables').show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [9]:
fncs =  spark.sql('show functions').collect()
len(fncs)

252

In [10]:
spark.sql("create database movies")

DataFrame[]

In [11]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|      movies|
+------------+

In [12]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|      movies|
+------------+

In [13]:
spark.sql("drop database movies")

DataFrame[]

In [14]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [15]:
spark.sql("create database flight")

DataFrame[]

In [16]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|      flight|
+------------+

In [17]:
spark.sql("use flight")

DataFrame[]

In [19]:
spark.sql('create table airlines \
         (IATA_CODE string , AIRLINE string) \
         row format delimited fields terminated by "," \
         stored as textfile')

DataFrame[]

In [20]:
spark.sql('create table airports \
         (IATA_CODE string ,AIRPORT string ,CITY string ,STATE string ,COUNTRY string ,LATITUDE float ,LONGITUDE float) \
         row format delimited fields terminated by "," \
         stored as textfile')

DataFrame[]

In [22]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|  flight| airlines|      false|
|  flight| airports|      false|
+--------+---------+-----------+

## Lets Load data into Hive tables created above

In [23]:
spark.sql("load data local inpath 'airlines.csv' \
            overwrite into table airlines")

DataFrame[]

In [25]:
spark.sql("load data local inpath 'airports.csv' \
            overwrite into table airports")

DataFrame[]

In [26]:
spark.sql("select * from airlines limit 10").show()

+---------+--------------------+
|IATA_CODE|             AIRLINE|
+---------+--------------------+
|IATA_CODE|             AIRLINE|
|       UA|United Air Lines ...|
|       AA|American Airlines...|
|       US|     US Airways Inc.|
|       F9|Frontier Airlines...|
|       B6|     JetBlue Airways|
|       OO|Skywest Airlines ...|
|       AS|Alaska Airlines Inc.|
|       NK|    Spirit Air Lines|
|       WN|Southwest Airline...|
+---------+--------------------+

In [27]:
spark.sql("select * from airports limit 10").show()

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|    null|      null|
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236|  -75.4404|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132|  -99.6819|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
+---------+--------------------+-------------+-----+-------+--------+----------+

## Loading Hive table using dataframes 
# Here we will first load the datafile into spark dataframe by selectinf few columns from file.
define the schema of the hive table in advance and then load data using dataframe

In [30]:
spark.sql("create table flights \
            ( YEAR int , MONTH int , DAY_OF_WEEK int ,AIRLINE string ,ORIGIN_AIRPORT string ,DESTINATION_AIRPORT string) \
              stored as ORC")

DataFrame[]

In [31]:
flights = spark.read.format("CSV").option("header","true").load("flights.csv")

In [32]:
flights.show(4)

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|               0005|          2354|            -11|      21|      0015|           205|         194|     169|    1448|     0404|      4|             0430|        0408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|               0010|          0002|             -8|      12|      0014|           280|         279|     263|    2330|     0737|      4|             0750|        0741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 4 rows

In [33]:
flightdetails = flights.select("YEAR","MONTH" , "DAY_OF_WEEK" , "AIRLINE" , "ORIGIN_AIRPORT","DESTINATION_AIRPORT" )

In [34]:
flightdetails.show()

+----+-----+-----------+-------+--------------+-------------------+
|YEAR|MONTH|DAY_OF_WEEK|AIRLINE|ORIGIN_AIRPORT|DESTINATION_AIRPORT|
+----+-----+-----------+-------+--------------+-------------------+
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     AA|           LAX|                PBI|
|2015|    1|          4|     US|           SFO|                CLT|
|2015|    1|          4|     AA|           LAX|                MIA|
|2015|    1|          4|     AS|           SEA|                ANC|
|2015|    1|          4|     DL|           SFO|                MSP|
|2015|    1|          4|     NK|           LAS|                MSP|
|2015|    1|          4|     US|           LAX|                CLT|
|2015|    1|          4|     AA|           SFO|                DFW|
|2015|    1|          4|     DL|           LAS|                ATL|
|2015|    1|          4|     DL|           DEN|                ATL|
|2015|    1|          4|     AA|           LAS|                MIA|
|2015|    1|          4|     DL|           LAX|                MSP|
|2015|    1|          4|     DL|           SLC|                ATL|
|2015|    1|          4|     DL|           SEA|                MSP|
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     DL|           ANC|                SEA|
|2015|    1|          4|     UA|           SFO|                IAH|
|2015|    1|          4|     AS|           ANC|                PDX|
|2015|    1|          4|     DL|           PDX|                MSP|
+----+-----+-----------+-------+--------------+-------------------+
only showing top 20 rows

In [36]:
flightdetails.createOrReplaceTempView("flt")

In [37]:
spark.sql("select * from flt").show()

+----+-----+-----------+-------+--------------+-------------------+
|YEAR|MONTH|DAY_OF_WEEK|AIRLINE|ORIGIN_AIRPORT|DESTINATION_AIRPORT|
+----+-----+-----------+-------+--------------+-------------------+
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     AA|           LAX|                PBI|
|2015|    1|          4|     US|           SFO|                CLT|
|2015|    1|          4|     AA|           LAX|                MIA|
|2015|    1|          4|     AS|           SEA|                ANC|
|2015|    1|          4|     DL|           SFO|                MSP|
|2015|    1|          4|     NK|           LAS|                MSP|
|2015|    1|          4|     US|           LAX|                CLT|
|2015|    1|          4|     AA|           SFO|                DFW|
|2015|    1|          4|     DL|           LAS|                ATL|
|2015|    1|          4|     DL|           DEN|                ATL|
|2015|    1|          4|     AA|           LAS|                MIA|
|2015|    1|          4|     DL|           LAX|                MSP|
|2015|    1|          4|     DL|           SLC|                ATL|
|2015|    1|          4|     DL|           SEA|                MSP|
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     DL|           ANC|                SEA|
|2015|    1|          4|     UA|           SFO|                IAH|
|2015|    1|          4|     AS|           ANC|                PDX|
|2015|    1|          4|     DL|           PDX|                MSP|
+----+-----+-----------+-------+--------------+-------------------+
only showing top 20 rows

In [38]:
spark.sql("insert into table flights select * from flt")

DataFrame[]

In [39]:
spark.sql("select * from flt").show()

+----+-----+-----------+-------+--------------+-------------------+
|YEAR|MONTH|DAY_OF_WEEK|AIRLINE|ORIGIN_AIRPORT|DESTINATION_AIRPORT|
+----+-----+-----------+-------+--------------+-------------------+
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     AA|           LAX|                PBI|
|2015|    1|          4|     US|           SFO|                CLT|
|2015|    1|          4|     AA|           LAX|                MIA|
|2015|    1|          4|     AS|           SEA|                ANC|
|2015|    1|          4|     DL|           SFO|                MSP|
|2015|    1|          4|     NK|           LAS|                MSP|
|2015|    1|          4|     US|           LAX|                CLT|
|2015|    1|          4|     AA|           SFO|                DFW|
|2015|    1|          4|     DL|           LAS|                ATL|
|2015|    1|          4|     DL|           DEN|                ATL|
|2015|    1|          4|     AA|           LAS|                MIA|
|2015|    1|          4|     DL|           LAX|                MSP|
|2015|    1|          4|     DL|           SLC|                ATL|
|2015|    1|          4|     DL|           SEA|                MSP|
|2015|    1|          4|     AS|           ANC|                SEA|
|2015|    1|          4|     DL|           ANC|                SEA|
|2015|    1|          4|     UA|           SFO|                IAH|
|2015|    1|          4|     AS|           ANC|                PDX|
|2015|    1|          4|     DL|           PDX|                MSP|
+----+-----+-----------+-------+--------------+-------------------+
only showing top 20 rows

In [40]:
spark.sql("select count(*) from flt").show()

+--------+
|count(1)|
+--------+
| 5819079|
+--------+

In [42]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|  flight| airlines|      false|
|  flight| airports|      false|
|  flight|  flights|      false|
|        |      flt|       true|
+--------+---------+-----------+